* {
    box-sizing: border-box;
    font-family: system-ui, Roboto;
}

p {
    text-align: center;
    font-size: 16px;
}

h1 {
    margin-right: 20px;
    font-size: 24px;
    display: inline;
}

h2 {
    display: inline;
    font-size: 20px;
    text-align: center;
}

h3 {
    display: inline;
    font-size: 16px;
}

h4 {
    display: inline;
    font-size: 14px;
}

body {
    min-width: 375px;
    max-width: 400px;
    max-height: 600px;
    font-size: 12px;
    margin: 0;
    background-color: #3A3B3C;
    color: white;
}

div.title_div {
    margin: 5px;
    padding: 5px;
}

div.grey_container {
    padding: 1em;
    background-color: #444546;
    color: #F5F5F5;
}

div.not-default {
    display: none;
}

.left-cell {
    width: 175px;
    font-size: 14px;
    text-align: left;
}

.right-cell {
    width: 50px;
    text-align: right;
}

span.text1 {
    font-size: 14px;
}

span.text-header {
    font-size: 16px;
}

span.text2 {
    display: block;
    font-size: 14px;
    font-style: italic;
}

span.text_msg {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    font-style: italic;
}

span.domain {
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
}

.change-color {
    color: #F5F5F5;
    transition: color 0.2s;
}

.change-color:hover {
    color: #68885A;
    cursor: pointer;
}

table.border-top {
    border-top: 2px solid #5F5F5F;
}

div.footDiv {
    padding-left: 10px;
}

th {
    font-size: 14px;
    border-bottom: 1px solid #C3C3C3;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 5px;*/
    /*margin-left: 20px;
    float: left;*/
}

input.unfoldBtn {
    background-color: #ffa800;
    border-radius: 4px;
    color: white;
    position: absolute;
    right: 16px;
    border: none;
    width: 30px;
    padding-bottom: 2px;
    font-weight: bold;
}

input[type="checkbox"] {
    width: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #ccc;*/
    background-color: #EB3C3C;
    transition: .4s;
    display: inline;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #68885A;
}

input:focus + .slider {
    box-shadow: 0 0 1px #68885A;
}

input:checked + .slider:before {
    transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
    display: inline;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:after {
    content:'OFF';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 65%;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
    content:'ON';
    left: 35%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px 8px 5px;
    flex-shrink: 0;
}

.image-button {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    background-color: #3A3B3C;
    margin: 0 6px;
    background-size: cover;
}

.small-button {
    width: 16px;
    height: 16px;
    background-color: #444546;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.change-opacity {
    opacity: 0.5;
    transition: color 0.2s;
}

.change-opacity:hover {
    opacity: 0.9;
}

.buttons-cell {
    width: 300px;
    text-align: center;
    align-items: center;
}

.hostname-cell-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    min-width: 120px;
}

.hostname-cell-left {
    width: 370px;
}

.host-summary {
    display: inline-table;
}

.host-url-table {
    padding-top: 5px;
}

.host-url-table td:first-child {
    width: 420px;
}

.host-url-table td:last-child {
    width: 30px;
}

.host-details {
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 2px solid #5F5F5F;
}

.home-button {
    background-image: url('../icons/buttons/home_64.png');
}

.refresh-button {
    background-image: url('../icons/buttons/refresh_64.png');
}

.settings-button {
    background-image: url('../icons/buttons/settings_64.png');
}

.report-button {
    background-image: url('../icons/buttons/report_64.png');
}

.cleanurls-button {
    background-image: url('../icons/buttons/cleanurls_64.png');
}

.add-whitelist-button {
    background-image: url('../icons/buttons/addw_64.png');
}

.tmp-whitelist-button {
    background-image: url('../icons/buttons/tmpw_64.png');
}

.del-whitelist-button {
    background-image: url('../icons/buttons/delw_64.png');
}

.blocked-urls-div {
    flex: 1;
    overflow-y: auto;
    /*min-height: 100px;*/
    max-height: calc(580px - 300px);
    scrollbar-width: thin;
}

.domain_div {
    flex-shrink: 0;
}

.header-table {
    width: 90%;
    border-collapse: collapse;
    position: relative;
    margin: 0 auto;
}

.logo-container {
    width: 250px;
    /*padding: 5px;*/
    vertical-align: middle;
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    display: block;
    width: 250px;
    height: auto;
    /*width: 250px;
    height: 50px;*/
    /*margin: 0 auto;*/
}

.feature-label {
    text-align: center;
    /*padding: 10px;*/
    padding-bottom: 5px;
    white-space: nowrap;
    vertical-align: middle;
    width: 25%;
}

.switch-cell {
    width: 25%;
    padding: 10px;
    text-align: center;
    padding: 0 5px;
    vertical-align: middle;
}

.switch.small {
    margin: 0 auto;
    display: block;
}

.version-text {
    position: absolute;
    bottom: 2px;
    right: 4px;
    font-size: 9px;
    opacity: 0.5;
}

.whitelist-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.resource-amount {
    font-size: 14px;
    min-width: 30px;
    text-align: right;
}
